html {
  box-sizing: border-box;
}

*,
*:before,
*:after body {
  position: relative;
}
body {
  background-color: rgb(250, 243, 243);
  font-family: "Merriweather Sans", sans-serif;
  max-width: 100%;
  margin: 0;
  overflow-x: hidden;
}
@media screen and (min-width: 800px) {
  section {
    width: 800px;
    margin: auto;
  }
}
#header {
  position: fixed;
  top: 0;
  z-index: 5;
  align-items: center;
  width: 100%;
  background-color: rgb(228, 217, 217);
  padding-top: 10px;
}
div.img-class {
  max-width: 100%;
}
#nav-bar {
  max-width: 80%;
}
@media screen and (min-width: 550px) {
  #header {
    display: flex;
    flex-wrap: nowrap;
  }
  div.img-class {
    max-width: 40%;
  }
  #nav-bar {
    width: 70%;
  }
  nav > ul {
    font-size: 1.3em;
  }
}

nav > ul {
  display: flex;
  font-size: 1em;
  justify-content: space-evenly;
}

li {
  list-style: none;
}
body > section {
  overscroll-behavior-x: hidden;
}
#section {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}
#section > h1 {
  padding-left: 10px;
  font-size: 1em;
  font-weight: 600;
  margin-left: 20px;
  max-width: 100%;
}

#email {
  width: 100%;
  align-items: center;
  padding: 10px;
  margin-bottom: 15px;

  font-size: 1em;
}
#submit {
  height: 30px;
  width: 60%;
  margin-left: 55px;
  margin-bottom: 20px;
  font-size: 1em;
  font-weight: 600;
  background-color: rgb(236, 227, 208);
  border-radius: 15px;
}
#submit:hover {
  background-color: rgb(214, 213, 210);
  box-shadow: -2px 14px 14px 4px rgba(190, 190, 177, 0.75);
}
#second-section {
  margin: 5% 10%;
  width: 100%;
}

div.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-right: 15px;
  align-items: center;
}
@media screen and (min-width: 550px) {
  div.flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 30px;
    margin: auto;
  }
}
.icon {
  max-width: 30%;
}
div.phrase {
  width: 90%;
  font-size: 1.2em;
  line-height: 1.5em;
}
#third-section {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  position: relative;
}

#last-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
  row-gap: 20px;
}

.block {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(223, 205, 205);
  border-radius: 6px;
  height: 400px;
  align-items: center;
  background-color: rgb(250, 240, 247);
}
@media (min-width: 550px) {
  #last-section {
    flex-direction: row;
    column-gap: 20px;
    justify-content: center;
    width: 100%;
  }
}
.block-header {
  display: flex;
  background-color: rgb(228, 217, 217);
  width: 400px;
  height: 60px;
  align-items: center;
  justify-content: center;
}
h2 {
  margin-bottom: 30px;
  font-size: 1.3em;
  font-weight: 600;
}
a {
  text-decoration: none;
  color: rgb(71, 66, 66);
}

input.btn {
  background-color: #e2ddbbfb;
  padding: 8px;
  border-radius: 15px;
  font-size: 1em;
}
input.btn:hover {
  background-color: rgb(248, 245, 237);
}

#video {
  max-width: 60%;
  height: 400px;
}

#footer {
  display: grid;
  width: 100%;
  justify-content: space-around;
  background-color: rgb(230, 214, 214);
  font-size: 1em;
  line-height: 1.2em;
  padding-top: 10px;
  margin-top: 10px;
  position: absolute;
}
.sub-footer {
  display: flex;
  justify-content: space-between;
}
